<% include header.ejs %>

<!-- content start -->
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">页面建设中</strong> </div>
  </div>

  <div class="am-g">
    <div class="am-u-sm-12">
      <h2 class="am-text-center am-text-xxxl am-margin-top-lg">页面建设中</h2>
      <p class="am-text-center">页面建设中</p>
      <pre class="page-404">
        .----.
     _.'__    `.
 .--($)($$)---/#\
.' @          /###\
:         ,   #####
`-..__.-' _.-\###/
      `;_:    `"'
    .'"""""`.
   /,  ya ,\\
  //页面建设中!\\
  `-._______.-'
  ___`. | .'___
 (______|______)
      </pre>
    </div>
  </div>
</div>
<!-- content end -->

<% include footer.ejs %>
