<% include header.ejs %>

<style>
    .admin-main {
        min-height: 700px;
    }
</style>
    <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <strong>实验中心教学管理系统</strong> <small>后台管理平台</small>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li class="am-hide-sm-only"><a href="http://localhost:3000/logout"><span class="am-icon-key"></span><span> 退出登录 </span></a></li>
            </ul>
        </div>
    </header>

    <div class="am-cf admin-main">
        <!-- sidebar start -->
        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li><a href="http://localhost:3000/menu"><span class="am-icon-home"></span> 首页 </a></li>
                    <li><a href="http://localhost:3000/menu/user/info"><span class="am-icon-table"></span> 个人信息 </a></li>
                    <li><a href="http://localhost:3000/menu/user/psw_modify"><span class="am-icon-table"></span> 修改密码 </a></li>
                    <% if(type == 3){ %>
                    <!-- 这是学生的导航 -->
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span> 实验管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav1">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 查看实验指导书 </a></li>
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 提交实验报告 </a></li>
                        </ul>
                    </li>
                    <li><a href="admin-table.html"><span class="am-icon-table"></span> 我的课表 </a></li>
                    <li><a href="admin-table.html"><span class="am-icon-table"></span> 成绩查询 </a></li>
                    <!-- end -->
                    <% }else if(type == 2){ %>
                    <!-- 这是老师的导航 -->
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span> 实验管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav1">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 查看实验指导书 </a></li>
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 提交实验报告 </a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> 成绩管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav2">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 成绩录入 </a></li>
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 成绩查看 </a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span> 实验设备管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav3">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 损坏登记 </a></li>
                        </ul>
                    </li>
                    <li><a href="admin-table.html"><span class="am-icon-table"></span> 排课查询 </a></li>
                    <!-- end -->
                    <% }else if(type == 1){ %>
                    <!-- 这是管理员的导航 -->
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span> 用户管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav1">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 新增用户 </a></li>
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 查看当前用户列表 </a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> 课程管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav2">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 新增课程 </a></li>
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 查看当前课程列表 </a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span> 实验设备管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav3">
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 新增设备 </a></li>
                            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 查看当前设备列表 </a></li>
                        </ul>
                    </li>
                    <!-- end -->
                    <% } %>
                </ul>

                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-bookmark"></span> 公告</p>
                        <p>时光静好，与君语；细水流年，与君同。—— Mr.Harry</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar end -->
