<% include menu_sidebar.ejs %>

        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content">
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>index</small></div>
                </div>

                <hr>

                <div class="am-g">
                    <div class="am-u-sm-12 am-u-sm-centered">
                        <h2>欢迎您！<span><%= name %></span></h2>
                        <p>我们不是创造者。</p>
                        <p>Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。</p>
                        <p>感谢开源！感谢有你！</p>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
        <!-- content end -->

<% include menu_sidebar_end.ejs %>
