<% include menu_sidebar.ejs %>

        <!-- content start -->
        <div class="admin-content">
            <div class="admin-content">
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><%= name %> | 实验指导书</strong> </div>
                </div>

                <hr>

                <div class="am-g">
                    <div class="am-u-sm-12 am-u-sm-centered">
                        <div><%- content %></div>
                        <hr>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- content end -->

<% include menu_sidebar_end.ejs %>
